.x
{
    width:40%
    border-right:5px solid blue;
    float:left;
}
.y{width:52%;float:right;}
table{width:80%;background-image:url(back2.jpg); align:center;}
td{height:100px;}
a img{width:100px;height:100px;}
a:visited{color:grey;}
a img:hover{width:180px;height:180px;}
dt{font-size:x-large;font-weight:bold;color:lightblue;background-color:blue;}
h1{background-color:gray;border-bottom:thick;color:lightblue;font-family:Arial;font-size:30pt;}
h3{font-family:'Courier New';color:purple;font-size:18pt;}
iframe{width:100%;height:300px;}
img{width:100px;height:200px;}
img:hover{width:250px;height:400px;}
ol{color:white;}
ul{color:white;}